.wrapper {
	max-width: 900px;
	text-align: center;
	margin: 20px auto;
	padding: 15px;
	border: 1px solid #333;
}

.canvas {
	border: 1px solid red;
	border-radius: 25px;
	margin-bottom: 15px;
}

.button {
	border: 1px solid red;
	border-radius: 5px;
	background-color: transparent;
	cursor: pointer;
	padding: 10px 15px;
}
